.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.astonBlueBackground {
    background-color: #305F96;
}

.gimmeSpaceFloor {
    margin-bottom: 15%;
}

.jumbotron {
    border-radius: 20px;
}
